.gridSquare {
    display: grid;
    margin: 5% auto;
    height: 500px;
    width: 500px;
    margin-bottom: 5rem;
    border: 1px solid black;
}

#title {
text-align: center;
font-size:40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: auto;
}

button {
width: max-content;
height: 20px;
}

.cell{
    background-color: white;
    
}

p {
    text-align: center;
}